body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: gainsboro;
}

#navbar {
    width: 100%;
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
}

#icon {
    width: 30%;
    margin: 5px;
}

#title {
    width: 65%;
    float: right;
    font-size: 3vw;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

#largeImage {
    width: 65%;
    background-size: cover;
}

#info {
    float: right;
    width: 35%;
    font-size: 3vmin;
    height: 100%;
}

#about {
    height: 50%;
    padding: 3%;
}

#obj {
    height: 50%;
    padding: 3%;
}

#objHeader {
    margin: 5px;
}

#objList {
    margin: 5px;
}

#innerNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navEle {
    float: right;
    width: 20%;
}

.navEleTag {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.5vmin;
}

li a:hover {
    background-color: #111;
}

#events {
    width: 100%;
}

#eventTable, #guestTable {
    width: 100%;
    border: solid 1px black;
    text-align: center;
    font-size: 4vmin;
}

#updates {
    width: 100%;
    border: solid 1px black;
}

#updateTitle {
    font-size: 4vmin;
    margin: 10px;
}

#updateList {
    font-size: 3vmin;
}

@media only screen and (max-device-width: 640px) {
    #largeImage {
        width: 100%;
    }

    #info {
        width: 100%;
    }

    #about, #obj {
        width: 43%;
        float: left;
    }

    #formDiv, .display {
        width: 100%;
    }
    #weather, #weather1{
        width: 100%;
    }
}

.display {
    width: 100%;
    border: solid 1px black;
    float: right;
}

#displayImage {
    width: 25%;
    float: left;
}

img {
    background-color: gainsboro;
    font-size: 2vmax;
    text-align: center;
}

#displayCanvas {
    width: 25%;
    float: right;
}

.post {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
}

#postHeader {
    text-align: center;
    visibility: hidden;
}

#simple_sketch {
    width: 100%;
    border: solid 1px black;
}

#formDiv {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#form {
    padding: 2%;
    border: solid 1px black;
}

.localweather {
    float: left;
    overflow: hidden;
}

.lboroweather {
    float: right;
    overflow: hidden;
}

#desc {
    text-align: center;
}

#swipeInfo {
    text-align: center;
    visibility: hidden;
}

input, select, canvas, textarea {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

label {
    font-size: 2vmax;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #weather, #weather1{
        width: 100%;
    }
}